#ghost{
    height:35vh;
}
.center-block{
    text-align:center;
}
#info-bing{
    bottom:0;
    position:fixed;
}
.white{
    color:white
}
.bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index:-1;
}
.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.btn-light{
    border-radius:0px;
    border:none;
}
.btn:hover{
    border:none;
    border-radius:0px;
    background-color: rgb(0, 255, 55);
}